<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<%$WebRoot%>/Public/Css/CE.css" />
<title>test</title>
</head>
<body>

<div id="body">
<div align="left"><img src="<%$WebRoot%>/Public/Img/CEPHP.png"  /></div>



	<%include file="include/nav.html"%>
  <p> <br /><br /><br />
 <div style="height:400px">
   <h3>(分页/路由/伪静态/空操作) 演示</h3>
   <br />
<table width="639" border="0" align="center" cellpadding="15" cellspacing="1" bgcolor="#CCCCCC">
    <tr>
	<td bgcolor="#E0E0E0">序号</td>
      <td bgcolor="#E0E0E0">&nbsp;姓名</td>
      <td bgcolor="#E0E0E0">年龄</td>
      <td bgcolor="#E0E0E0">性别</td>
    </tr>
	<% foreach item=rs from=$students %>
	<tr bgcolor="<%cycle values='#FFFFFF,#F9F9F9'%>">

 		<td> <a href="<%$WebRoot%>/student/info/id/<% $rs.id%>"><% $rs.id%></a></td>
      <td><a href="<%$WebRoot%>/student/info/name/<% $rs.username%>"><% $rs.username%></a> <a href="<%$WebRoot%>/student/<% $rs.username%>.html"><% $rs.username%></a>(伪静态) <a href="<%$WebRoot%>/<% $rs.username%>"><% $rs.username%></a>（空操作）</td>
      <td><% $rs.age%></td>
      <td><% $rs.sex%></td>

    </tr>
	<% /foreach %>
  </table>


<br />
 
	<%$page_str%>  <br /><br />
    </p>

<p>
</div>
  <%include file="include/bottom.html"%>  
</p>
</div>
</body>
</html>
