<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<%$WebRoot%>/Public/Css/CE.css" />
<title><% $alert %></title>
</head>
<body>

<div id="body">
<div align="left"><img src="<%$WebRoot%>/Public/Img/CEPHP.png"  /></div>



	<%include file="include/nav.html"%>
  

<p><h3><% $alert %></h3></p>
  <table width="320" border="0" align="center" cellpadding="8" cellspacing="1" bgcolor="#666666">
    <tr>
      <td colspan="2" bgcolor="#CCCCCC"><div align="center"><strong>学生信息</strong></div></td>
    </tr>
    <tr>
      <td width="60" bgcolor="#F6F6F6">序号</td>
      <td  bgcolor="#F6F6F6"><% $student.id %></td>
    </tr>
    <tr>
      <td bgcolor="#F6F6F6">姓名</td>
      <td bgcolor="#F6F6F6"><% $student.username %></td>
    </tr>
    <tr>
      <td bgcolor="#F6F6F6">年龄</td>
      <td bgcolor="#F6F6F6"><% $student.age%></td>
    </tr>
    <tr>
      <td bgcolor="#F6F6F6">性别</td>
      <td bgcolor="#F6F6F6"><% $student.sex%></td>
    </tr>
  </table>
  <p>&nbsp; </p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <%include file="include/bottom.html"%>  
</p>
</div>
</body>
</html>

