<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<%$WebRoot%>/Public/Css/CE.css" />
<script language="javascript" src="<%$WebRoot%>/Public/Js/jquery-1.4.2.min.js"></script>
<script language="javascript">
function ajaxPage(page)
{
	$.get('<%$WebRoot%>/ajax/getdata/page/'+page,function (data)
	{
		$("#tb").siblings().remove();
		$("#content,#pageString").css("display","none");
		$("#tb").after(data.listInfo);
		$("#pageString").html(data.pageStr);
		$("table tr:even").css("background-color","#F9F9F9"); 
		$("table tr:odd").css("background-color","#FFFFFF");
		$("#content,#pageString").fadeIn();						
	},"json");
}
</script>
<title>test</title>
</head>
<body>

<div id="body">
<div align="left"><img src="<%$WebRoot%>/Public/Img/CEPHP.png" width="227" height="103" /></div>
	<%include file="include/nav.html"%>
  <p> <br />
 <div style="height:400px">
   <h3 align="center">AJAX分页 演示</h3>
   <br />
<div style="margin:0 auto; text-align:center">
   
<br />
</div>
<div id="content" >
<% if $students|@count neq 0 %>
<table   width="639" border="0" align="center" cellpadding="15" cellspacing="1" bgcolor="#CCCCCC">
    <tr id="tb"> 
	<td bgcolor="#E0E0E0">序号</td>
      <td bgcolor="#E0E0E0">&nbsp;姓名</td>
      <td bgcolor="#E0E0E0">年龄</td>
      <td bgcolor="#E0E0E0">性别</td>
    </tr>
	<% foreach item=rs from=$students %>
	<tr bgcolor="<%cycle values='#FFFFFF,#F9F9F9'%>">

 		<td><% $rs.id%></td>
      <td><% $rs.username%></td>
      <td><% $rs.age%></td>
      <td><% $rs.sex%></td>
    </tr>

	<% /foreach %>
	</table>

</div>
<% else %>
<br />
<div id="error2" style="display:none;margin:0 auto; text-align:center; width:400px; height:25px; background-color: #F6F6F6; padding-top: 11px;  border-color: #FF0000; border-width: 1px; border-style: solid;">
<strong>没有符合条件的数据！</strong>
</div>
<% /if %>  


<br />
 
	 <div id="pageString" align="center"><%$page_str%></div>  <br /><br />
    </p>

</div>
  <%include file="include/bottom.html"%>  

</div>
</body>
</html>
