<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<%$WebRoot%>/Public/Css/CE.css" />
<title>test</title>
</head>
<body>

<div id="body">
<div align="left"><img src="<%$WebRoot%>/Public/Img/CEPHP.png"  /></div>



	<%include file="include/nav.html"%>
  <p> <br /><br /><br />
 <div style="height:400px">
<table width="315" border="0" align="center" cellpadding="8" cellspacing="1" bgcolor="#CCCCCC">
    <tr>
	<td>序号</td>
      <td>&nbsp;姓名</td>
      <td>年龄</td>
      <td>性别</td>
    </tr>
	<% foreach item=rs from=$students %>
	<tr>
 		<td bgcolor="#FFFFFF"><a href="<%$WebRoot%>/student/info/id/<% $rs.id%>"><% $rs.id%></a></td>
      <td bgcolor="#FFFFFF"><a href="<%$WebRoot%>/student/info/name/<% $rs.username%>"><% $rs.username%></a> <a href="<%$WebRoot%>/<% $rs.username%>"><% $rs.username%></a></td>
      <td bgcolor="#FFFFFF"><% $rs.age%></td>
      <td bgcolor="#FFFFFF"><% $rs.sex%></td>

    </tr>
	<% /foreach %>
  </table>


<br />
 
	<%$page_str%>  <br /><br />
    </p>

<p>
</div>
  <%include file="include/bottom.html"%>  
</p>
</div>
</body>
</html>
